>up|I0B7A8|Nucleoprotein_IBV [Influenza B virus (B/Brisbane/60/2008)]
MSNMDIDGINTGTIDKTPEEITSGTSGTTRPIIRPATLAPPSNKRTRNPSPERATTSSED
DVGRKTQKKQTPTEIKKSVYNMVVKLGEFYNQMMVKAGLNDDMERNLIQNAHAVERILLA
ATDDKKTEFQKKKNARDVKEGKEEIDHNKTGGTFYKMVRDDKTIYFSPIRITFLKEEVKT
MYKTTMGSDGFSGLNHIMIGHSQMNDVCFQRSKALKRVGLDPSLISTFAGSTVPRRSGAT
GVAIKGGGTLVAEAIRFIGRAMADRGLLRDIKAKTAYEKILLNLKNKCSAPQQKALVDQV
IGSRNPGIADIEDLTLLARSMVVVRPSVASKVVLPISIYAKIPQLGFNVEEYSMVGYEAM
ALYNMATPVSILRMGDDAKDKSQLFFMSCFGAAYEDLRVLSALTGTEFKPRSALKCKGFH
VPAKEQVEGMGAALMSIKLQFWAPMTRSGGNEVGGDGGSGQISCSPVFAVERPIALSKQA
VRRMLSMNIEGRDADVKGNLLKMMNDSMAKKTSGNAFIGKKMFQISDKNKTNPIEIPIKQ
TIPNFFFGRDTAEDYDDLDY
>up|Q596H1|Nucleoprotein_IBV [Influenza B virus (B/Victoria/504/2000)]
MSNMDIDGINTGTIDKTPEEIASGTSGTTRPIIRPATLAPPSNKRTRNPSPERATTSNEA
DVGKKTQKKQTPTEIKKSVYNMVVKLGEFYNQMMVKAGLNDDMERNLIQNAHAVERILLA
ATDDKKTEFQKKKNARDVKEGKEEIDHNKTGGTFYKMVRDDKTIYFSPIRITFLKEEVKT
MYKTTMGSDGFSGLNHIMIGHSQMNDVCFQRSKALKRVGLDPSLISTFAGSTIPRRSGAT
GVAIKGGGTLVAEAIRFIGRAMADRGLLRDIKAKTAYEKILLNLKNKCSAPQQKALVDQV
IGSRNPGIADIEDLTLLARSMVVVRPSVASKVVLPISIYAKIPQLGFNVEEYSMVGYEAM
ALYNMATPVSILRMGDDAKDKSQLFFMSCFGAAYEDLRVLSALTGTEFKPRSALKCKGFH
VPAKEQVEGMGAALMSIKLQFWAPMTRSGGNEVGGDGGSGQISCSPVFAVERPIALSKQA
VRRMLSMNIEGRDADVKGNLLKMMNDSMAKKTSGNAFIGKKMFQISDKNKTNPVEIPIKQ
TIPNFFFGRDTAEDYDDLDY
>tr|C3W5S2|C3W5S2_I09A0 Nucleoprotein_H1N1 OS=Influenza A virus (strain swl A/California/04/2009 H1N1) OX=641501 GN=NP PE=3 SV=1
MASQGTKRSYEQMETGGERQDATEIRASVGRMIGGIGRFYIQMCTELKLSDYDGRLIQNS
ITIERMVLSAFDERRNKYLEEHPSAGKDPKKTGGPIYRRVDGKWMRELILYDKEEIRRVW
RQANNGEDATAGLTHIMIWHSNLNDATYQRTRALVRTGMDPRMCSLMQGSTLPRRSGAAG
AAVKGVGTIAMELIRMIKRGINDRNFWRGENGRRTRVAYERMCNILKGKFQTAAQRAMMD
QVRESRNPGNAEIEDLIFLARSALILRGSVAHKSCLPACVYGLAVASGHDFEREGYSLVG
IDPFKLLQNSQVVSLMRPNENPAHKSQLVWMACHSAAFEDLRVSSFIRGKKVIPRGKLST
RGVQIASNENVETMDSNTLELRSRYWAIRTRSGGNTNQQKASAGQISVQPTFSVQRNLPF
ERATVMAAFSGNNEGRTSDMRTEVIRMMESAKPEDLSFQGRGVFELSDEKATNPIVPSFD
MSNEGSYFFGDNAEEYDS
>tr|B2XWY1|B2XWY1_9INFA Nucleoprotein_H3N2 OS=Influenza A virus OX=480024 GN=NP PE=3 SV=1
MASQGTKRSYEQMETDGDRQNATEIRASVGKMIDGIGRFYIQMCTELKLSDYEGRLIQNS
LTIEKMVLSAFDERRNKYLEEHPSAGKDPKKTGGPIYRRVDGKWMRELVLYDKEEIRRIW
RQANNGEDATAGLTHIMIWHSNLNDATYQRTRALVRTGMDPRMCSLMQGSTLPRRSGAAG
AAVKGIGTMVMELIRMVKRGINDRNFWRGENGRKTRSAYERMCNILKGKFQTAAQRAMVD
QVRESRNPGNAEIEDLIFLARSALILRGSVAHKSCLPACVYGPAVSSGYDFEKEGYSLVG
IDPFKLLQNSQVYSLIRPNENPAHKSQLVWMACHSAAFEDLRLLSFIRGTKVSPRGKLST
RGVQIASNENMDNMGSSTLELRSGYWAIRTRSGGNTNQQRASAGQTSVQPTFSVQRNLPF
EKSTIMAAFTGNTEGRTSDMRAEIIRMMEGAKPEEVSFRGRGVFELSDEKATNPIVPSFD
MSNEGSYFFGDNAEEYDN
>Nucleoprotein_H5N1
MASQGTKRSYEQMETGGERQNATEIRASVGRMVSGIGRFYIQMCTELKLSDYEGRLIQNS
ITIERMVLSAFDERRNRYLEEHPSAGKDPKKTGGPIYRRRDGKWVRELILYDKEEIRRIW
RQANNGEDATAGLTHLMIWHSNLNDATYQRTRALVRTGMDPRMCSLMQGSTLPRRSGAAG
AAVKGVGTMVMELIRMIKRGINDRNFWRGENGRRTRIAYERMCNILKGKFQTAAQRAMMD
QVRESRNPGNAEIEDLIFLARSALILRGSVAHKSCLPACVYGLAVASGYDFEREGYSLVG
IDPFRLLQNSQVFSLIRPNENPAHKSQLVWMACHSAAFEDLRVSSFIRGTRVVPRGQLST
RGVQIASNENMEAMDSNTLELRSRYWAIRTRSGGNTNQQRASAGQISVQPTFSVQRNLPF
ERATIMAAFTGNTEGRTSDMRTEIIRMMESARPEDVSFQGRGVFELSDEKATNPIVPSFD
MNNEGSYFFGDNAEEYDN
>sp|Q8N7H5|PAF1_HUMAN RNA polymerase II-associated factor 1 homolog OS=Homo sapiens OX=9606 GN=PAF1 PE=1 SV=2
MAPTIQTQAQREDGHRPNSHRTLPERSGVVCRVKYCNSLPDIPFDPKFITYPFDQNRFVQ
YKATSLEKQHKHDLLTEPDLGVTIDLINPDTYRIDPNVLLDPADEKLLEEEIQAPTSSKR
SQQHAKVVPWMRKTEYISTEFNRYGISNEKPEVKIGVSVKQQFTEEEIYKDRDSQITAIE
KTFEDAQKSISQHYSKPRVTPVEVMPVFPDFKMWINPCAQVIFDSDPAPKDTSGAAALEM
MSQAMIRGMMDEEGNQFVAYFLPVEETLKKRKRDQEEEMDYAPDDVYDYKIAREYNWNVK
NKASKGYEENYFFIFREGDGVYYNELETRVRLSKRRAKAGVQSGTNALLVVKHRDMNEKE
LEAQEARKAQLENHEPEEEEEEEMETEEKEAGGSDEEQEKGSSSEKEGSEDEHSGSESER
EEGDRDEASDKSGSGEDESSEDEARAARDKEEIFGSDADSEDDADSDDEDRGQAQGGSDN
DSDSGSNGGGQRSRSHSRSASPFPSGSEHSAQEDGSEAAASDSSEADSDSD
>sp|Q6PD62|CTR9_HUMAN RNA polymerase-associated protein CTR9 homolog OS=Homo sapiens OX=9606 GN=CTR9 PE=1 SV=1
MSRGSIEIPLRDTDEVIELDFDQLPEGDEVISILKQEHTQLHIWIALALEYYKQGKTEEF
VKLLEAARIDGNLDYRDHEKDQMTCLDTLAAYYVQQARKEKNKDNKKDLITQATLLYTMA
DKIIMYDQNHLLGRACFCLLEGDKMDQADAQFHFVLNQSPNNIPALLGKACISFNKKDYR
GALAYYKKALRTNPGCPAEVRLGMGHCFVKLNKLEKARLAFSRALELNSKCVGALVGLAV
LELNNKEADSIKNGVQLLSRAYTIDPSNPMVLNHLANHFFFKKDYSKVQHLALHAFHNTE
VEAMQAESCYQLARSFHVQEDYDQAFQYYYQATQFASSSFVLPFFGLGQMYIYRGDKENA
SQCFEKVLKAYPNNYETMKILGSLYAASEDQEKRDIAKGHLKKVTEQYPDDVEAWIELAQ
ILEQTDIQGALSAYGTATRILQEKVQADVPPEILNNVGALHFRLGNLGEAKKYFLASLDR
AKAEAEHDEHYYNAISVTTSYNLARLYEAMCEFHEAEKLYKNILREHPNYVDCYLRLGAM
ARDKGNFYEASDWFKEALQINQDHPDAWSLIGNLHLAKQEWGPGQKKFERILKQPSTQSD
TYSMLALGNVWLQTLHQPTRDREKEKRHQDRALAIYKQVLRNDAKNLYAANGIGAVLAHK
GYFREARDVFAQVREATADISDVWLNLAHIYVEQKQYISAVQMYENCLRKFYKHQNTEVV
LYLARALFKCGKLQECKQTLLKARHVAPSDTVLMFNVALVLQRLATSVLKDEKSNLKEVL
NAVKELELAHRYFSYLSKVGDKMRFDLALAATEARQCSDLLSQAQYHVARARKQDEEERE
LRAKQEQEKELLRQKLLKEQEEKRLREKEEQKKLLEQRAQYVEKTKNILMFTGETEATKE
KKRGGGGGRRSKKGGEFDEFVNDDTDDDLPISKKKKRRKGSGSEQEGEDEEGGERKKKKR
RRHPKGEEGSDDDETENGPKPKKRRPPKAEKKKAPKPERLPPSMKGKIKSKAIISSSDDS
SDEDKLKIADEGHPRNSNSNSDSDEDEQRKKCASSESDSDENQNKSGSEAGSPRRPRRQR
SDQDSDSDQPSRKRRPSGSEQSDNESVQSGRSHSGVSENDSRPASPSAESDHESERGSDN
EGSGQGSGNESEPEGSNNEASDRGSEHGSDDSD
>sp|Q8WVC0|LEO1_HUMAN RNA polymerase-associated protein LEO1 OS=Homo sapiens OX=9606 GN=LEO1 PE=1 SV=1
MADMEDLFGSDADSEAERKDSDSGSDSDSDQENAASGSNASGSESDQDERGDSGQPSNKE
LFGDDSEDEGASHHSGSDNHSERSDNRSEASERSDHEDNDPSDVDQHSGSEAPNDDEDEG
HRSDGGSHHSEAEGSEKAHSDDEKWGREDKSDQSDDEKIQNSDDEERAQGSDEDKLQNSD
DDEKMQNTDDEERPQLSDDERQQLSEEEKANSDDERPVASDNDDEKQNSDDEEQPQLSDE
EKMQNSDDERPQASDEEHRHSDDEEEQDHKSESARGSDSEDEVLRMKRKNAIASDSEADS
DTEVPKDNSGTMDLFGGADDISSGSDGEDKPPTPGQPVDENGLPQDQQEEEPIPETRIEV
EIPKVNTDLGNDLYFVKLPNFLSVEPRPFDPQYYEDEFEDEEMLDEEGRTRLKLKVENTI
RWRIRRDEEGNEIKESNARIVKWSDGSMSLHLGNEVFDVYKAPLQGDHNHLFIRQGTGLQ
GQAVFKTKLTFRPHSTDSATHRKMTLSLADRCSKTQKIRILPMAGRDPECQRTEMIKKEE
ERLRASIRRESQQRRMREKQHQRGLSASYLEPDRYDEEEEGEESISLAAIKNRYKGGIRE
ERARIYSSDSDEGSEEDKAQRLLKAKKLTSDEEGEPSGKRKAEDDDKANKKHKKYVISDE
EEEDDD
>sp|Q92541|RTF1_HUMAN RNA polymerase-associated protein RTF1 homolog OS=Homo sapiens OX=9606 GN=RTF1 PE=1 SV=4
MRGRLCVGRAAAAAAAVAVPLAGGQEGSPGGGRRGSRGTTMVKKRKGRVVIDSDTEDSGS
DENLDQELLSLAKRKRSDSEEKEPPVSQPAASSDSETSDSDDEWTFGSNKNKKKGKARKI
EKKGTMKKQANKTASSGSSDKDSSAESSAPEEGEVSDSDSNSSSSSSDSDSSSEDEEFHD
GYGEDLMGDEEDRARLEQMTEKEREQELFNRIEKREVLKRRFEIKKKLKTAKKKEKKEKK
KKQEEEQEKKKLTQIQESQVTSHNKERRSKRDEKLDKKSQAMEELKAEREKRKNRTAELL
AKKQPLKTSEVYSDDEEEEEDDKSSEKSDRSSRTSSSDEEEEKEEIPPKSQPVSLPEELN
RVRLSRHKLERWCHMPFFAKTVTGCFVRIGIGNHNSKPVYRVAEITGVVETAKVYQLGGT
RTNKGLQLRHGNDQRVFRLEFVSNQEFTESEFMKWKEAMFSAGMQLPTLDEINKKELSIK
EALNYKFNDQDIEEIVKEKERFRKAPPNYAMKKTQLLKEKAMAEDLGDQDKAKQIQDQLN
ELEERAEALDRQRTKNISAISYINQRNREWNIVESEKALVAESHNMKNQQMDPFTRRQCK
PTIVSNSRDPAVQAAILAQLNAKYGSGVLPDAPKEMSKGQGKDKDLNSKSASDLSEDLFK
VHDFDVKIDLQVPSSESKALAITSKAPPAKDGAPRRSLNLEDYKKRRGLI
>sp|Q6P1J9|CDC73_HUMAN Parafibromin OS=Homo sapiens OX=9606 GN=CDC73 PE=1 SV=1
MADVLSVLRQYNIQKKEIVVKGDEVIFGEFSWPKNVKTNYVVWGTGKEGQPREYYTLDSI
LFLLNNVHLSHPVYVRRAATENIPVVRRPDRKDLLGYLNGEASTSASIDRSAPLEIGLQR
STQVKRAADEVLAEAKKPRIEDEECVRLDKERLAARLEGHKEGIVQTEQIRSLSEAMSVE
KIAAIKAKIMAKKRSTIKTDLDDDITALKQRSFVDAEVDVTRDIVSRERVWRTRTTILQS
TGKNFSKNIFAILQSVKAREEGRAPEQRPAPNAAPVDPTLRTKQPIPAAYNRYDQERFKG
KEETEGFKIDTMGTYHGMTLKSVTEGASARKTQTPAAQPVPRPVSQARPPPNQKKGSRTP
IIIIPAATTSLITMLNAKDLLQDLKFVPSDEKKKQGCQRENETLIQRRKDQMQPGGTAIS
VTVPYRVVDQPLKLMPQDWDRVVAVFVQGPAWQFKGWPWLLPDGSPVDIFAKIKAFHLKY
DEVRLDPNVQKWDVTVLELSYHKRHLDRPVFLRFWETLDRYMVKHKSHLRF
>up|I0B7A9|NS1_IBV [Influenza B virus (B/Brisbane/60/2008)]
MANNNMTTTQIEVGPGATNATINFEAGILECYERLSWQRALDYPGQDRLNRLKRKLESRI
KTHNKSEPESKRMSLEERKAIGVKMMKVLLFMNPSAGIEGFEPYCMKSSSNSNCTKYNWT
DYPSTPERCLDDIEEEPEDVDGPTEIVLRDMNNKDARQKIKEEVNTQKEGKFRLTIKRDM
RNVLSLRVLVNGTFLKHPNGHKSLSTLHRLNAYDQSGRLVAKLVATDDLTVEDEEDGHRI
LNSLFERLNEGHSKPIRAAETAVGVLSQFGQEHRLSPEEGDN
>up|Q596G5|NS1_IBV [Influenza B virus (B/Victoria/504/2000)]
MANNMTTTQIEVGPGATNATINFEAGILECYERLSWQRALDYPGQDRLNRLKRKLESRIK
THNKSEPESKRMSLEERKAIGVKMMKVLLFMDPSAGIEGFEPYCMKSSSNSNCPKYNWTD
YPSTPGRCLDDIEEEPEDVDGPTEIVLRDMNNKDARQKIKEEVNTQKEGKFRLTIKRDMR
NVLSLRVLVNGTFLKHPNGYKSLSTLHRLNVYDQSGRLVAKLVATDDLTVEDEEDGHRIL
NSLFERLNEGHSKPIRAAETAVGVLSQFGQEHRLSPEEGDN
>sp|NS1_H1N1|NS1_H1N1_C3W5S7
MDSNTMSSFQVDCFLWHIRKRFADNGLGDAPFLDRLRRDQKSLKGRGNTLGLDIETATLV
GKQIVEWILKEESSETLRMTIASVPTSRYLSDMTLEEMSRDWFMLMPRQKIIGPLCVRLD
QAIMEKNIVLKANFSVIFNRLETLILLRAFTEEGAIVGEISPLPSLPGHTYEDVKNAVGV
LIGGLEWNGNTVRVSENIQRFAWRNCDENGRPSLPPEQK
>sp|NS1_H3N2|NS1_H3N2_B2BUF1
MDSNTVSSFQVDCFLWHIRKQVVDQELSDAPFLDRLRRDQRSLRGRGNTLGLDIKAATHV
GKQIVEKILKEESDEALKMTMVSTPASRYITDMTIEELSRNWFMLMPKQKVEGPLCIRMD
QAIMEKNIMLKANFSVIFDRLETIVLLRAFTEEGAIVGEISPLPSFPGHTIEDVKNAIGV
LIGGLEWNDNTVRVSKNLQRFAWRSSNENGGPPLTPKQKRKMARTARSKV
>sp|NS1_H5N1|NS1_H5N1 MDSNTVSSFQVDCFLWHVRKRFADQELGDAPFLDRLRRDQKSLRGRGNTLGLDIETATRA
GKQIVERILEGESDKALKMPASRYLTDMTLEEMSRDWFMLMPKQKVAGSLCIKMDQAIMD
KTIILKANFSVIFDRLETLILLRAFTEEGAIVGEISPLPSLPGHTGEDVKNAIGVLIGGL
EWNDNTVRVTETIQRFAWRNSDEDGRLPLPPNQKR
>sp|Q9UHB7|AFF4_HUMAN AF4/FMR2 family member 4 OS=Homo sapiens OX=9606 GN=AFF4 PE=1 SV=1
MNREDRNVLRMKERERRNQEIQQGEDAFPPSSPLFAEPYKVTSKEDKLSSRIQSMLGNYD
EMKDFIGDRSIPKLVAIPKPTVPPSADEKSNPNFFEQRHGGSHQSSKWTPVGPAPSTSQS
QKRSSGLQSGHSSQRTSAGSSSGTNSSGQRHDRESYNNSGSSSRKKGQHGSEHSKSRSSS
PGKPQAVSSLNSSHSRSHGNDHHSKEHQRSKSPRDPDANWDSPSRVPFSSGQHSTQSFPP
SLMSKSNSMLQKPTAYVRPMDGQESMEPKLSSEHYSSQSHGNSMTELKPSSKAHLTKLKI
PSQPLDASASGDVSCVDEILKEMTHSWPPPLTAIHTPCKTEPSKFPFPTKESQQSNFGTG
EQKRYNPSKTSNGHQSKSMLKDDLKLSSSEDSDGEQDCDKTMPRSTPGSNSEPSHHNSEG
ADNSRDDSSSHSGSESSSGSDSESESSSSDSEANEPSQSASPEPEPPPTNKWQLDNWLNK
VNPHKVSPASSVDSNIPSSQGYKKEGREQGTGNSYTDTSGPKETSSATPGRDSKTIQKGS
ESGRGRQKSPAQSDSTTQRRTVGKKQPKKAEKAAAEEPRGGLKIESETPVDLASSMPSSR
HKAATKGSRKPNIKKESKSSPRPTAEKKKYKSTSKSSQKSREIIETDTSSSDSDESESLP
PSSQTPKYPESNRTPVKPSSVEEEDSFFRQRMFSPMEEKELLSPLSEPDDRYPLIVKIDL
NLLTRIPGKPYKETEPPKGEKKNVPEKHTREAQKQASEKVSNKGKRKHKNEDDNRASESK
KPKTEDKNSAGHKPSSNRESSKQSAAKEKDLLPSPAGPVPSKDPKTEHGSRKRTISQSSS
LKSSSNSNKETSGSSKNSSSTSKQKKTEGKTSSSSKEVKEKAPSSSSNCPPSAPTLDSSK
PRRTKLVFDDRNYSADHYLQEAKKLKHNADALSDRFEKAVYYLDAVVSFIECGNALEKNA
QESKSPFPMYSETVDLIKYTMKLKNYLAPDATAADKRLTVLCLRCESLLYLRLFKLKKEN
ALKYSKTLTEHLKNSYNNSQAPSPGLGSKAVGMPSPVSPKLSPGNSGNYSSGASSASASG
SSVTIPQKIHQMAASYVQVTSNFLYATEIWDQAEQLSKEQKEFFAELDKVMGPLIFNASI
MTDLVRYTRQGLHWLRQDAKLIS
>sp|O60563|CCNT1_HUMAN Cyclin-T1 OS=Homo sapiens OX=9606 GN=CCNT1 PE=1 SV=1
MEGERKNNNKRWYFTREQLENSPSRRFGVDPDKELSYRQQAANLLQDMGQRLNVSQLTIN
TAIVYMHRFYMIQSFTQFPGNSVAPAALFLAAKVEEQPKKLEHVIKVAHTCLHPQESLPD
TRSEAYLQQVQDLVILESIILQTLGFELTIDHPHTHVVKCTQLVRASKDLAQTSYFMATN
SLHLTTFSLQYTPPVVACVCIHLACKWSNWEIPVSTDGKHWWEYVDATVTLELLDELTHE
FLQILEKTPNRLKRIWNWRACEAAKKTKADDRGTDEKTSEQTILNMISQSSSDTTIAGLM
SMSTSTTSAVPSLPVSEESSSNLTSVEMLPGKRWLSSQPSFKLEPTQGHRTSENLALTGV
DHSLPQDGSNAFISQKQNSKSVPSAKVSLKEYRAKHAEELAAQKRQLENMEANVKSQYAY
AAQNLLSHHDSHSSVILKMPIEGSENPERPFLEKADKTALKMRIPVAGGDKAASSKPEEI
KMRIKVHAAADKHNSVEDSVTKSREHKEKHKTHPSNHHHHHNHHSHKHSHSQLPVGTGNK
RPGDPKHSSQTSNLAHKTYSLSSSFSSSSSTRKRGPSEETGGAVFDHPAKIAKSTKSSSL
NFSFPSLPTMGQMPGHSSDTSGLSFSQPSCKTRVPHSKLDKGPTGANGHNTTQTIDYQDT
VNMLHSLLSAQGVQPTQPTAFEFVRPYSDYLNPRSGGISSRSGNTDKPRPPPLPSEPPPP
LPPLPK
>sp|P55199|ELL_HUMAN RNA polymerase II elongation factor ELL OS=Homo sapiens OX=9606 GN=ELL PE=1 SV=1
MAALKEDRSYGLSCGRVSDGSKVSVFHVKLTDSALRAFESYRARQDSVSLRPSIRFQGSQ
GHISIPQPDCPAEARTFSFYLSNIGRDNPQGSFDCIQQYVSSHGEVHLDCLGSIQDKITV
CATDDSYQKARQSMAQAEEETRSRSAIVIKAGGRYLGKKVQFRKPAPGATDAVPSRKRAT
PINLASAIRKSGASAVSGGSGVSQRPFRDRVLHLLALRPYRKAELLLRLQKDGLTQADKD
ALDGLLQQVANMSAKDGTCTLQDCMYKDVQKDWPGYSEGDQQLLKRVLVRKLCQPQSTGS
LLGDPAASSPPGERGRSASPPQKRLQPPDFIDPLANKKPRISHFTQRAQPAVNGKLGVPN
GREALLPTPGPPASTDTLSSSTHLPPRLEPPRAHDPLADVSNDLGHSGRDCEHGEAAAPA
PTVRLGLPLLTDCAQPSRPHGSPSRSKPKKKSKKHKDKERAAEDKPRAQLPDCAPATHAT
PGAPADTPGLNGTCSVSSVPTSTSETPDYLLKYAAISSSEQRQSYKNDFNAEYSEYRDLH
ARIERITRRFTQLDAQLRQLSQGSEEYETTRGQILQEYRKIKKTNTNYSQEKHRCEYLHS
KLAHIKRLIAEYDQRQLQAWP
>sp|O00472|ELL2_HUMAN RNA polymerase II elongation factor ELL2 OS=Homo sapiens OX=9606 GN=ELL2 PE=1 SV=2
MAAGGTGGLREEQRYGLSCGRLGQDNITVLHVKLTETAIRALETYQSHKNLIPFRPSIQF
QGLHGLVKIPKNDPLNEVHNFNFYLSNVGKDNPQGSFDCIQQTFSSSGASQLNCLGFIQD
KITVCATNDSYQMTRERMTQAEEESRNRSTKVIKPGGPYVGKRVQIRKAPQAVSDTVPER
KRSTPMNPANTIRKTHSSSTISQRPYRDRVIHLLALKAYKKPELLARLQKDGVNQKDKNS
LGAILQQVANLNSKDLSYTLKDYVFKELQRDWPGYSEIDRRSLESVLSRKLNPSQNAAGT
SRSESPVCSSRDAVSSPQKRLLDSEFIDPLMNKKARISHLTNRVPPTLNGHLNPTSEKSA
AGLPLPPAAAAIPTPPPLPSTYLPISHPPQIVNSNSNSPSTPEGRGTQDLPVDSFSQNDS
IYEDQQDKYTSRTSLETLPPGSVLLKCPKPMEENHSMSHKKSKKKSKKHKEKDQIKKHDI
ETIEEKEEDLKREEEIAKLNNSSPNSSGGVKEDCTASMEPSAIELPDYLIKYIAIVSYEQ
RQNYKDDFNAEYDEYRALHARMETVARRFIKLDAQRKRLSPGSKEYQNVHEEVLQEYQKI
KQSSPNYHEEKYRCEYLHNKLAHIKRLIGEFDQQQAESWS
